<% include header.html %>

<style>
    .profile-photo {
        border: 2px solid hotpink;
        border-radius: 50%;
        max-width: 100%;
    }
    #top-bar {
        background: hotpink;
        height: 40px;
        color: white;
        margin-bottom: 10px;
    }
    input,select {
        margin-bottom: 8px;
    }
</style>

<div id='top-bar'>
    <div class='container'>
        <h3 style='display:inline;'>Valentine's</h3>
        <a  href='/logout'
            style='float:right; margin-top:4px;'
            >Log Out</a>
    </div>
</div>

<div class='container'>
    <div class='row'>
        <div class='col-12 col-sm-4'>
            <img src='/member-<%= member.id %>.jpg' class='profile-photo'>
        </div>
        <div class='col-12 col-sm-8'>
            <h3><%= member.first_name %>
                <%= member.family_name %>
            </h3>
            <form method='post' action='/save-info'>
                <input name='account'
                        value='<%= member.account %>'
                        class='form-control'
                        placeholder='Your Account'
                >
                <input name='first-name'
                       value='<%= member.first_name %>'
                       class='form-control'
                       placeholder='Your Name'
                >
                <input name='family-name'
                       value='<%= member.family_name %>'
                       class='form-control'
                       placeholder='Your Family Name'
                >
                <select name='gender' class='form-control'>
                    <option>Male</option>
                    <option>Female</option>
                </select>
                <input name='dob'
                    value='<%= member.dob %>'
                    class='form-control'
                    placeholder='Date of Birth'
                >
                <button class='btn btn-primary'>Save</button>
            </form>
        </div>
    </div>


    <br><br><br><br>


    <form method='post' action='/change-photo'
        enctype='multipart/form-data'>
        <input type='file' name='photo' required >
        <button>Change</button>
    </form>
</div>

<% include footer.html %>